.mainarea {
  width: 1094px;
}

.toprectangle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 199px;
  margin-top: 60px;
}



.bottomrectangle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 199px;
  margin-top: 82px;
}
