.timeline {
  display: grid;
  grid-template-columns: 240px repeat(16, auto);
  grid-auto-rows: column;
  border-bottom: 1px #E9ECEF solid;
  max-width: 1400px;
}

.time {
  padding: 17px 0 17px 0;
  text-align: center;
  font-size: 12px;
  position: relative;
}


.time::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: calc(100vh - 124px);
  border-left: 1px solid rgba(19,100,205, .1);
  z-index: 10;
}